<html>
<head>
	<title>Ini adalah default template CMS saya</title>
	<link type='text/css' rel='stylesheet' href='css/style.css' />
</head>
<body>
<div class="wrapper">
	<div class="header">.::ARYANI::.</div>
	<div class='clear'></div>
	<div class="sidebar">Ini adalah sidebar<br>
		<img src="img.png">
	</div>
	<div class="content">Ini adalah tempat di mana konten utama CMS akan ditampilkan
	<br><br><br></div>
	<div class="clear"></div>
	<div class="footer">Ini adalah footer</div>
</div>
</body>
</html>