.wrapper {
	width:1300px;
	font-family: Cambria Math;
}
.header {
	border:1px solid gold;
	background-color:pink;
	color:white;
	font-weight:bold;
	font-size:35px;
	padding:35px 10px;
	text-align: center;
	border-radius: 20px;
}
.sidebar {
	width: 200px;
	float:left;
	padding:5px;
	border: 1px solid gold;
	overflow: hidden;
	border-radius: 20px;
}
.content {
	width:1000px;
	float:right;
	padding:5px;
}

.footer {
	text-align:center;
	background:pink;
	color:grey;
	padding:21px 3px;
	border-radius: 20px;
}

.clear {
	clear:both;
}
